.main-nav a {
  color: #ffffff !important;;
  padding: 8px 15px !important;;
  transition: 0.3s;
  font-size: 16px !important;
  font-family: "Montserrat", sans-serif;}
#header{background: #85251e !important; z-index: 999 !important;}
.mobile-nav-toggle i {
  color: #c59b5f !important; }
#header .logo img {
  padding: 0;
  margin: -2px 10px;
  max-height: 45px;
}
#services .icon {
    left: 5px !important;
}
#carouselExampleIndicators .carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed !important;
}
#myprojectModal .modal-header{display: inline-block !important;}
#myprojectModal .modal-body h5{margin-top: 15px; font-weight: 600;}
#myprojectModal .modal-body p{margin-top: 15px;}

#clients .client-logo{padding: 80px !important;}
.portfolio-item .project-des p{margin:5px 0 !important; text-align: center;
  font-weight: 600;}
.portfolio-item .project-des{padding:5px ;    background: #c59b5f; color: white;}
#menu .portfolio-item .portfolio-wrap{border-radius:0 !important;}

/*
a:hover, a:active, a:focus {color: #86a91e !important;}
*/
.main-nav a:hover, .main-nav .active > a, .main-nav li:hover > a {color:#fdcf81 !important;}
#intro .intro-info .btn-get-started {background: #fdcf81 !important; border: 2px solid #fdcf81 !important;}
#intro .intro-info h2 span {color: #2d8c1c !important;}
#intro .intro-info .btn-services:hover{background: #fdcf81 !important; border: 2px solid #fdcf81 !important;}
#services .box:hover .title a {color: #fdcf81 !important;}
#menu .portfolio-item .portfolio-wrap .portfolio-info .link-preview, #menu .portfolio-item .portfolio-wrap .portfolio-info .link-details{background: #fdcf81 !important;}
#about .about-container .icon-box:hover .icon {background: #fdcf81 !important; color:#fff !important; }
#about .about-container .icon-box .icon{border: 2px solid #fdcf81 !important;}
#about .about-container .icon-box:hover .icon i{color:#fff !important;}
#about .about-container .icon-box .icon i{color:#fdcf81 !important;}
.form-control:focus{border-color:#fdcf81 !important; }
#menu #portfolio-flters li{color:#fdcf81 !important;}
#menu #portfolio-flters li:hover, #menu #portfolio-flters li.filter-active {background: #c59b5f !important; color:white !important;}
.back-to-top{background:#c59b5f !important;}
#contact .form button[type="submit"] {background: #c59b5f !important;}
#contact .info i {color: #fdcf81 !important;}
#footer .footer-top .social-links a {background: #c59b5f !important; color: #000;}
#footer {background: #441210 !important}
#footer .footer-top .footer-links ul a:hover{color:#fff !important;}
#footer .footer-top {background: #85251e !important;}

.about-section {
  background: url("../img/aboutbg.jpg") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  position: relative !important;
  padding-bottom: 0 !important;
}
.section {
  display: block;
  width: 100%;
  padding: 100px 0;
}
.section-title-box {
  text-align: center;
  margin-bottom: 40px;
}
.section-title-box h1 {
  font-size: 80px;
  font-weight: 300;
  font-family: 'Great Vibes', Arial, sans-serif;
  color: #c59b5f;
  margin: 0;
  padding: 0;
}
.title-divider {
  border-radius: 50%;
  margin: 0 auto !important;
  text-align: center;
  width: 30px;
  display: block;
  height: 30px;
  position: relative;
  margin-bottom: 50px;
  top: 0px;
  padding: 5px;
}
.title-divider:after {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background: #fff;
  position: absolute;
  z-index: 99;
  right: 40px;
  top: 15px;
}
.title-divider:before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background: #fff;
  position: absolute;
  z-index: 99;
  left: 40px;
  top: 15px;
}
.title-divider .fa {
  color: #c59b5f;
  font-size: 25px;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
  position: relative;
  top: -2px;
}
.section-title-box p {
  font-size: 14px;
  color: #fff;
  font-weight: 300;
  line-height: 28px;
  margin: 25px 0;
  position: relative;
}
.about-content {
  text-align: left;
  padding-top: 20%;
}
.about-content h3 {
  font-size: 30px;
  font-weight: 900;
  color: #fff;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
.about-content p {
  font-size: 14px;
  color: #fff;
  line-height: 28px;
  display: block;
  font-weight: 300;
}
.about-content a {
  border: 2px solid #c59b5f;
  outline: none;
  font-weight: 900;
  background: #c59b5f;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0;
  margin-right: 15px;
  padding: 5px 30px;
}
.about-content a:last-child {
  background: transparent;
  border: 2px solid #fff;
}
.about-thumb {
  text-align: right;
}
.about-thumb img {
  height: auto;
  display: inline-block;
  text-align: right;
}

#menu {
  background:  url(../img/hero_slide_3.jpg);
  /*background-image: url(../img/Fruit-PNG.png), url(../images/menu-right-bg.png)*/;
  /*background-repeat: no-repeat;
  background-position: 20px 118px, right 62px;
  */
  padding: 60px 0;
  background-size: cover !important;
  background-attachment: fixed !important;
  position: relative !important;}
#menu .menu-section .section-title-box {
  margin-bottom: 30px;
}
#menu #portfolio-flters {
  width: 100% !important;
  display: block !important;
  text-align: center !important;
  margin-bottom: 40px !important;
}
#menu #portfolio-flters .active, #menu .portfolio-flters li:hover {
  background: #c59b5f !important;
  color: #fff !important;
}
#menu #portfolio-flters li {
  background: #272627 !important;
  text-align: center !important;
  color: #fff !important;
  font-size: 14px !important;
  font-weight: 900 !important;
  padding: 15px 30px !important;
  outline: none !important;
  list-style: none !important;
  display: inline-block !important;
  position: relative !important;
  text-transform: uppercase !important;
  cursor: pointer !important;
  border-radius: 0 !important;
}
#contact{
  background: url("../img/contact-us-background-2.jpg") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  /*background-attachment: fixed !important;*/
  position: relative !important;}
#contact .info p {
  color: white;
}



@media screen and (max-width:680px){
  .about-content a{padding: 5px 10px;}
  .about-thumb img{width: 200px; margin-top: 40px;}
  .section-title-box h1 {font-size: 40px;}
  #menu #portfolio-flters li{margin:5px !important;}
  #menu {
    background-size: cover !important;
    background-attachment: fixed !important;
    position: relative !important;}
  #carouselExampleIndicators .carousel-item {
    height: 100vh;
    min-height: 350px;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-attachment: fixed !important;
  }


}